.CVCard {
    margin: 40px 0;
}

.CVCard .cont {
    display: flex;
}
.CVCard .info {
    width: 40%;
}
.CVCard .description {
    width: calc(60% - 20px);
    margin: 40px 10px 0 20px;
}
.CVCard .description p {
    margin: 0;
}
.CVCard .position {
    font-weight: 700;
}

@media (max-width: 767px) {
    .CVCard .cont {
        display: block;
    }
    .CVCard .info, .CVCard .description {
        width: 100%;
        margin: 5px;
    }
}
