.CVCard {
    margin: 40px 0;
}

.CVCard .cont {
    display: flex;

}
.CVCard .info {
    width: 40%;
}
.CVCard .description {
    width: calc(60% - 20px);
    margin: 0 10px;
}
.CVCard .description p {
    margin: 0;
}
.CVCard .position {
    font-weight: 700;
}

