.CVCompetenceCard {
    margin-top: 80px;
}

.CVCompetenceCard .skills {
    display: flex;
}
.CVCompetenceCard .skills div {
    width: 50%;
}


@media (max-width: 767px) {
    .CVCompetenceCard .skills {
        display: block;
    }
    .CVCompetenceCard .skills div {
        width: 100%;
        margin: 5px;
    }
    .CVCompetenceCard .hobbies {
        margin: 5px;
    }
}