.Navbar .navbar {
    background-color: var(--bg-color);
}
.Navbar .navbar-toggler {
    border: none;
}
.Navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.7)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M5 5L25 25M5 25L25 5'/%3e%3c/svg%3e");
}
.Navbar .collapsed .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(25, 118, 210, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.Navbar .nav-link.active {
    color: var(--primary-dark-color) !important;
}
.Navbar .nav-link:hover {
    color: var(--primary-color) !important;
}
.Navbar span svg {
    color: var(--primary-dark-color);
    font-size: 1rem;
    margin-top: -2px;
    margin-right: 7px;
}
.Navbar h3 {
    font-weight: 800;
    font-size: 1rem;
}
.Navbar h4 {
    font-weight: 300;
    font-size: 0.9rem;
    margin-left: 10px;
}
.Navbar h3, .Navbar h4{
    display: inline-block;
}
.Navbar .navbar-collapse {
    justify-content: flex-end;
}
@media (max-width: 767px) {
    .Navbar h4{
        display: block;
    }
    .Navbar .navbar-nav {
        font-weight: 800
    }
}
@media (min-width: 1900px) {
    .Navbar span svg {
        font-size: 1.6rem;
        margin-top: -12px;
        margin-right: 5px;
    }
    .Navbar .navbar-brand {
        margin-top: 10px;
    }
    .Navbar h3 {
        font-size: 2rem;
    }
    .Navbar h4 {
        font-size: 1.8rem;
    }
    .Navbar .navbar-nav a {
        font-size: 1.7rem;
    }
}