.Navbar .navbar {
    background-color: var(--bg-color);
}
.Navbar .navbar-toggler {
    border: none;
}
.Navbar .burgericon line {
    stroke: var(--on-background-color);
    stroke-width: 4px;
    stroke-linecap: round;
    transition: all 1.5s cubic-bezier(.19,1,.22,1);
}
.Navbar .burgericon #secondbar {
    opacity: 0;
}

.Navbar .collapsed .burgericon line {
    stroke: var(--primary-dark-color);
}
.Navbar .collapsed .burgericon #firstbar {
    transform: translate3d(-8px, 10px, 0) rotate(-45deg);
}
.Navbar .collapsed .burgericon #secondbar {
    transform: translate3d(-8px, 21px, 0)  rotate(-45deg);
    opacity: 1;
}
.Navbar .collapsed .burgericon #thirdbar {
    transform: translate3d(20px, 4px, 0) rotate(45deg);
}

.Navbar .nav-link.active {
    color: var(--primary-dark-color) !important;
}
.Navbar .nav-link:hover {
    color: var(--primary-color) !important;
}
.Navbar span svg {
    color: var(--primary-dark-color);
    font-size: 1rem;
    margin-top: -2px;
    margin-right: 7px;
}
.Navbar h3 {
    font-weight: 800;
    font-size: 1rem;
}
.Navbar h4 {
    font-weight: 300;
    font-size: 0.9rem;
    margin-left: 10px;
}
.Navbar h3, .Navbar h4{
    display: inline-block;
}
.Navbar .navbar-collapse {
    justify-content: flex-end;
}
@media (max-width: 767px) {
    .Navbar h4{
        display: block;
    }
    .Navbar .navbar-nav {
        font-weight: 800
    }
}
@media (min-width: 1900px) {
    .Navbar span svg {
        font-size: 1.6rem;
        margin-top: -12px;
        margin-right: 5px;
    }
    .Navbar .navbar-brand {
        margin-top: 10px;
    }
    .Navbar h3 {
        font-size: 2rem;
    }
    .Navbar h4 {
        font-size: 1.8rem;
    }
    .Navbar .navbar-nav a {
        font-size: 1.7rem;
    }
}