.ProjectCard {
    padding-right: 250px;
    height: 300px;
    margin: 40px 0;
}
.ProjectCard img {
    position: absolute;
    right: 0;
    top: 0;
    height: 300px;
    width: 230px;
    object-fit: cover;
    box-shadow: var(--shdi, 0 1px 1px rgba(0,0,0,.6));
}

.ProjectCard .wide {
    display: none;
}

@media (max-width: 767px) {
    .ProjectCard {
        height: initial;
        padding: 0;
    }
    .ProjectCard img {
        position: relative;

        height: 200px;
        width: 100%;
        margin-top: 30px;
    }
    .ProjectCard .wide {
        display: initial;
    }
    .ProjectCard .notWide {
        display: none;
    }
    .ProjectCard h4, .ProjectCard p {
        margin: 0 20px 0 20px;
        padding-top: 30px;
    }
}

@media (min-width: 1500px) {
    .ProjectCard {
        height: 400px;
        padding-right: 320px;
    }
    .ProjectCard img {
        height: 400px;
        width: 300px;
    }
}
