:root {
    --bg-color: #f5f8fa;
    --surface-color: #f5f8fa;
    --primary-color: #1e88e5;
    --primary-light-color: #2196f3;
    --primary-dark-color: #1976d2;
    --secondary-color: #c2c5c7;
    --secondary-light-color: #f5f8fa;
    --secondary-dark-color: #929596;

    --on-surface-color: #000;
    --on-background-color: #000;
    --on-primary-color: #fff;
    --on-secondary-color: #000;

    --breakpoint: 767px;

    --shd: 11px 11px 11px 0px rgba(138,131,124,0.23);
    --shdi: -11px 0px 11px 0px rgba(138,131,124,0.15);
    --shdt: 11px -11px 11px 0px rgba(138,131,124,0.08);
    --shda: 0px 0px 11px 0px rgba(138,131,124,0.23);
}
html {
    background-color: var(--bg-color);
}
body {
    background-color: var(--bg-color);
}

a, a:hover, a:visited {
    text-decoration: none;
    color: var(--on-background-color);
}
ul {
    list-style-type: square;
}
li::marker {
    color: var(--primary-dark-color);
}

h1, h2, h3 {
    font-family: "Aldrich", Helvetica, Arial, sans-serif;
}

.Home, .CV, .Projects, .Impressum {
    background-color: var(--secondary-color);
}
.content {
    width: 600px;
    margin: auto;
}

.CV, .Projects, .Impressum {
    padding: 40px 0;
}
.CV h1, .Projects h1, .Impressum h1 {
    text-align: center;
    font-weight: 900;
    padding-bottom: 20px;
    color: var(--on-secondary-color);
    font-size: 3rem;
}
.CV h2, .Impressum h2 {
    font-weight: 800;
    font-size: 1.4rem;
    color: var(--on-secondary-color);
}

.CVCard, .CVCompetenceCard, .ProjectCard {
    background-color: var(--bg-color);
    box-shadow: var(--shd, 0 1px 1px rgba(0,0,0,.6));
    padding: 20px;
    position: relative;
}

.CVCard h4, .CVCompetenceCard h4, .ProjectCard h4 {
    margin-top: 20px;
    font-weight: 800;
    color: var(--primary-dark-color);
    font-family: "Aldrich", Helvetica, Arial, sans-serif;
}

.CV, .Projects {
    position: relative;
}

.CV .content, .Projects .content {
    position: relative;
    z-index: 100;
}


@media (max-width: 767px) {
    .content {
        width: 100%;
        max-width: 370px;
        margin: auto;
        padding: 15px;
    }
}

@media (min-width: 1700px) {
    .content {
        width: 850px;
    }
    .CV, .Projects {
        font-size: 1.4rem;
    }
    .CVCard, .CVCompetenceCard, .ProjectCard {
        padding: 40px;
    }
    .CV h1, .Projects h1, .Impressum h1 {
        font-size: 3.5rem;
        margin-top: 80px;
        margin-bottom: 40px;
    }
    .CV h2, .Impressum h2 {
        font-size: 2.0rem;
    }
    .CVCard h4, .CVCompetenceCard h4, .ProjectCard h4 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
    .CV h5, .Projects h5, .Impressum h5 {
        font-size: 1.7rem;
    }
}
