:root {
    --bg-color: #F5F5F6;
    --surface-color: #F5F5F6;
    --primary-color: #1e88e5;
    --primary-light-color: #2196f3;
    --primary-dark-color: #1976d2;
    --secondary-color: #dcedc8;
    --secondary-light-color: #f1f8e9;
    --secondary-dark-color: #c5e1a5;

    --on-surface-color: #000;
    --on-background-color: #000;
    --on-primary-color: #fff;
    --on-secondary-color: #000;

    --breakpoint: 767px;

    --shd: 11px 11px 11px 0px rgba(138,131,124,0.23);
    --shdi: -11px 0px 11px 0px rgba(138,131,124,0.15);
    --shdt: 11px -11px 11px 0px rgba(138,131,124,0.08);
    --shda: 0px 0px 11px 0px rgba(138,131,124,0.23);
}
html {
    background-color: var(--bg-color);
}
body {
    background-color: var(--bg-color);
}

a, a:hover, a:visited {
    text-decoration: none;
    color: var(--on-background-color);
}
ul {
    list-style-type: square;
}
li::marker {
    color: var(--primary-dark-color);
}

.Home, .CV, .Projects, .Impressum {
    background-color: var(--secondary-color);
}
.content {
    width: 600px;
    margin: auto;
}

.CV, .Projects, .Impressum {
    padding: 40px 0;
}
.CV h1, .Projects h1, .Impressum h1 {
    text-align: center;
    font-weight: 900;
    padding-bottom: 20px;
    color: var(--on-secondary-color);
}
.CV h2, .Impressum h2 {
    font-weight: 800;
    font-size: 1.4rem;
    color: var(--on-secondary-color);
}

.CVCard, .CVCompetenceCard, .ProjectCard {
    background-color: var(--bg-color);
    box-shadow: var(--shd, 0 1px 1px rgba(0,0,0,.6));
    padding: 20px;
    position: relative;
}


.CVCard h4, .ProjectCard h4 {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--primary-dark-color);
}
.CV, .Projects {
    position: relative;
}
.CV .fun, .Projects .fun {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 500px;
}
.CV .fun img, .Projects .fun img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: opacity(0.5);
}
.CV .fun .gradient, .Projects .fun .gradient {
    background: linear-gradient(to bottom, rgba(220,237,200,0.6) 0%,rgba(220,237,200, 1) 100%);
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
}

.CV .content, .Projects .content {
    position: relative;
    z-index: 100;
}


@media (max-width: 767px) {
    .content {
        width: 100%;
        max-width: 370px;
        margin: auto;
        padding: 15px;
    }
}

